<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated repository -->
      <package
            uri="http://fixprotocol.io/2020/orchestra/repository"
            class="io.fixprotocol._2020.orchestra.repository.RepositoryPackage"
            genModel="model/repository.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated repository -->
      <parser
            type="repository"
            class="io.fixprotocol._2020.orchestra.repository.util.RepositoryResourceFactoryImpl"/>
   </extension>

</plugin>
